$white:     #ffffff;
$light:     #dddddd;
$grey:      #808080;
$dark:      #333333;
$black:     #000000;

$green:     #87fab3;
$highlight: #87CEFA;

$border: 2px solid $black;
$header-height: 80px;
$sub-header-height: 65px;

$metapanel-width: 300px;

body > *:not(#prism) { display: none; }

#prism {

	display: block; position: relative;
	width: 100%; height: 100vh;
	overflow: hidden;

	* { box-sizing: border-box; }

	&.rainbow * { background: $dark !important; }

}

@import './prism-utils.scss';

@import './prism-header.scss';

@import './prism-tree.scss';
@import './prism-trunk.scss';
@import './prism-branch.scss';
@import './prism-leaf.scss';
@import './prism-meta.scss';

@import './prism-footer.scss';