#prism-leaf {
	display: block; position: relative; float: left;
	height: 100%;

	border-right: $border;


	// A .prism-tree-header element
	header#prism-leaf-header {

		h2 {
			display: block;
			width: 100%;
			padding: 0;

			div {
				width: 100%; min-height: 30px;
				margin-top: 0;
				border: none;
				white-space: nowrap;
				overflow: hidden;
			}

			input {
				width: 100%;
				padding: 0 5px; margin: -5px 0 0 -5px;
				border: none;

				&:focus { border: none; outline: none; }
			}
		}

		i.fa {
			display: block; position: absolute;
			right: 0; top: 0;
			padding: 7px;
			background: $white;
			cursor: pointer;
			color: $light;

			&:hover  { color: $highlight; }
			&.active { color: $black; }

		}
	}

	#prism-leaf-content {

		display: block; position: relative; float: left;
		width: calc( 100% - 20px ); height: calc( 100% - 20px - #{$tree-header-height} );
		padding: 10px; margin: 10px;
		border: $border;
		border-color: $light;

	}

}