#prism-trunk {
	display: block; position: relative; float: left;
	height: 100%;

	border-right: $border;

	#prism-search-status {

		display: block; position: relative;
		width: 100%; height: $sub-header-height;

		border-bottom: $border;

		font-size: 24px;
		overflow: hidden;

		&.active {
			background: $highlight;
			color: $black;
			border-color: $black;
		}

		input {
			display: inline-block;
			width: calc( 100% - 60px );
			padding: 2px 10px; margin: 10px 0 0 50px;

			border: $border;
			border-color: $grey;
			background: $white;

			&:focus {
				background: $white !important;
				outline: none !important;
			}
		}
	}

	menu {

		padding: 0; margin: 0;

		ul {

			padding: 0; margin: 0;

			li {
				list-style: none;


				&:first-of-type a {
					border-top: none;
				}

				a { 
					display: block;
					padding: 20px 15px;

					color: $grey;
					font-size: 24px;
					font-family: 'Source Code Pro', sans-serif;
					text-decoration: none;

					cursor: pointer;

					border-top: $border;
					border-bottom: $border;
					border-color: transparent;

					i { margin: 0 20px 0 -5px; }

					&:hover {
						background: $light;
					}

					&.active {
						font-weight: bold;
						background: $highlight;
						color: $black;
						border-color: $black;
					}

					&.parent {
						padding: 5px 15px;

						&:nth-of-type(1) { padding-bottom: 0; border-bottom: none; }
						&:nth-of-type(2) { 
							padding-left: 80px;
							border-top: none;
							font-style: italic;
							font-size: 16px;

							&:hover {
								background: $dark;
								color: $highlight;
							}
						}
					}

				}
			}
		}
	}
}