#prism-branch {
	display: block; position: relative; float: left;
	height: 100%;

	border-right: $border;

	// A .prism-tree-header element
	header#prism-branch-header {

		div#prism-branch-visual-controls {

			display: block; position: absolute;
			right: 0; top: 0;

			i.fa {
				margin: 8px 8px 0 0;

				color: $light;
				cursor: pointer;

				&:hover {
					color: $highlight;
					border-color: $highlight;
				}

				&.active {
					color: $dark;
					border-color: $dark;
				}
			}

			i#prism-add-leaf {
				margin-right: 25px;

				&:hover { color: $green; }
			}
		}

	}

	$grid-size: 33%;
	$half-size: 50%;
	$full-size: 100%;
	$list-size: 100%;

	&.grid ul#prism-leaves .prism-leaf {
		width: calc( #{$grid-size} - 10px );
		padding-bottom: calc( #{$grid-size} - 14px );
	}

	&.half ul#prism-leaves .prism-leaf {
		width: calc( #{$half-size} - 10px );
		padding-bottom: calc( #{$half-size} - 14px );
	}

	&.full ul#prism-leaves .prism-leaf {
		width: calc( #{$full-size} - 10px );
		padding-bottom: calc( #{$full-size} - 14px );
	}

	&.list ul#prism-leaves .prism-leaf {
		width: calc( 100% - 10px ) !important;
		padding-bottom: 100px !important;

		a {
			left: 100px;
			font: {
				size: 16px;
				weight: bold;
			}
			line-height: 20px;

			color: $grey;

			h4 { background: none !important; }
		}

		b.media {

			width: 100px; height: 100px;
			right: auto;

			background: {
				position: right center !important;
				size: 100px !important;
				repeat: no-repeat;
				color: rgba( $light, .5 );
			}
		}

		&:hover  { background-color: $light !important; }
		&.active { background-color: $highlight !important; }
	}

	ul#prism-leaves {

		height: calc( 100% - #{$tree-header-height} );
		padding: 5px; margin: 0 1px 0 0;

		overflow-y: scroll;

		&::-webkit-scrollbar-track {
			-webkit-box-shadow: none;
			background-color: transparent;
		}

		.prism-leaf {
			display: block; position: relative; float: left;
			height: auto; margin: 5px;

			border: $border;
			border-color: $grey;

			a, b {
				display: block; position: absolute;
				left: 0; right: 0;
				top: 0; bottom: 0;
			}

			a {
				z-index: 2;
				padding: 3px;

				font: {
					size: 16px;
					weight: bold;
				}
				line-height: 20px;

				color: $grey;

				text-decoration: none;

				background-color: rgba( $white, .7 );
				overflow: hidden;

				h4 {
					padding: 5px; margin: 0;
					font-size: 16px;
					line-height: 20px;
					background-color: rgba( $white, .5 );
				}

				p {
					padding: 5px; margin: 0;
					font-size: 12px;
					line-height: 15px;
					color: $grey;
				}
			}

			b.media {
				z-index: 1;
				margin: 0;
				background-position: center center;
				background-size: 100%;
			}

			&:not(.media) {
				h4 { background: none !important; }
			}

			&:hover {

				box-shadow: 0 0 10px $grey;
				border-color: $grey;

				a {
					color: $dark;
					background-color: rgba( $grey, .5 );

					h4 { background-color: rgba( $white, .7 ); }
				}

				b.media {
					background-size: 105% !important;
					transition: background-size .1s;
				}
			}

			&.active { 
				box-shadow: 0 0 10px $highlight;
				border-color: $black;

				a {
					color: $black;
					background-color: rgba( $white, .1 );

					h4 { background-color: rgba( $white, .9 ); }
					p  { color: $black; }
				}

				b.media {
					background-color: $highlight;
					background-size: 105% !important;
				}

			}

		}

	}
}