$white:     #ffffff;
$light:     #dddddd;
$grey:      #808080;
$dark:      #333333;
$black:     #000000;

$green:     #87fab3;
$highlight: #87CEFA;

$border: 2px solid $black;
$header-height: 80px;
$sub-header-height: 65px;

$metapanel-width: 300px;

body > *:not(#prism) { display: none; }

#prism {

	display: block; position: relative;
	width: 100%; height: 100vh;

	overflow: hidden;

	* {
		box-sizing: border-box;
	}

	&.rainbow * {
		background: $dark !important;
	}

	#prism-header {
		display: block; position: relative;
		width: 100%; height: $header-height;

		border-bottom: $border;

		a {

			display: inline-block; float: left;
			padding: 5px 10px 0;
			cursor: pointer;
			text-decoration: none;

			h1 {
				margin: 0;
				font: {
					family: 'Kinescope';
					size: 60px;
				}
			}

		}

		#prism-rainbow-bar {
			display: inline-block; float: left;
			padding: 5px 10px; margin: 12px 20px 0;
			font: {
				size: 32px;
			}
			border: 0;
			color: $light;

			&:focus {
				color: $dark;
				background: $white !important;
			}
		}

		span.description {
			display: block; position: relative; float: right;
			max-width: 420px;
			padding: 16px 20px;
			
			color: $grey;
			
			font: {
				family: 'Gibson', sans-serif;
				size: 14px;
				style: italic;
			}

			text: {
				align: right;
			}
		}


		#prism-user-account {
			float: right;
			margin: 12px 10px 0 0;

			cursor: pointer;

			i.fa-user {
				border: {
					radius: 50%;
					color: $grey;
				}

				color: $grey;

				&:hover {
					color: $highlight;
					border-color: $highlight;
				}
			}

			img {
				margin-top: -2px;
				border-radius: 50%;
			}

		}

	}

	#prism-tree {

		display: block; position: relative;
		width: 100%; height: calc( 100vh - #{$header-height} );

		#prism-trunk {
			display: block; position: relative; float: left;
			width: 16.666667%; height: 100%;

			border-right: $border;

			#prism-search {

				display: block; position: relative;
				width: 100%; height: $sub-header-height;
				padding: 10px;

				border-bottom: $border;

				font-size: 24px;

				input {
					width: 100%;
					padding: 2px 10px;

					border: $border;
					border-color: $grey;
					background: transparent;
				}
			}

			menu {

				padding: 0; margin: 0;

				ul {

					padding: 0; margin: 0;

					li {
						list-style: none;


						&:first-of-type a {
							border-top: none;
						}

						a { 
							display: block;
							padding: 20px;

							color: $grey;
							font-size: 24px;
							font-family: 'Source Code Pro', sans-serif;
							text-decoration: none;

							cursor: pointer;

							border-top: $border;
							border-bottom: $border;
							border-color: transparent;

							&:hover {
								background: $light;
							}

							&.active {
								font-weight: bold;
								background: $highlight;
								color: $black;
								border-color: $black;
							}

						}
					}
				}
			}
		}

		#prism-branch {
			display: block; position: relative; float: left;
			width: 33.333333%; height: 100%;

			border-right: $border;

			header#prism-branch-header {

				height: $sub-header-height;
				padding: 10px;
				border-bottom: $border;

				h2 {
					padding: 5px; margin: 0;
					text-transform: capitalize;
				}

				div#prism-branch-visual-controls {

					display: block; position: absolute;
					right: 0; top: 0;

					i.fa {
						margin: 10px 10px 0 0;

						color: $light;
						cursor: pointer;

						border-color: $light;

						&:hover {
							color: $highlight;
							border-color: $highlight;
						}

						&.active {
							color: $grey;
							border-color: $grey;
							background-color: $light;
						}
					}

					i#prism-add-leaf {

						margin-right: 25px;

						&:hover {
							color: $grey;
							border-color: $grey;
							background: $green;
						}
					}
				}

			}

			$grid-size: 25%;
			$half-size: 50%;
			$full-size: 100%;
			$list-size: 100%;

			&.grid .prism-leaf {
				width: calc( #{$grid-size} - 10px );
				padding-bottom: calc( #{$grid-size} - 10px );
			}

			&.half .prism-leaf {
				width: calc( #{$half-size} - 10px );
				padding-bottom: calc( #{$half-size} - 10px );
			}

			&.full .prism-leaf {
				width: calc( #{$full-size} - 10px );
				padding-bottom: calc( #{$full-size} - 10px );
			}

			&.list .prism-leaf {
				width: calc( 100% - 10px ) !important;
				padding-bottom: 70px !important;
			}

			ul#prism-leaves {

				height: calc( 100% - #{$sub-header-height} );
				padding: 5px; margin: 0 1px 0 0;

				overflow-y: scroll;

				&::-webkit-scrollbar-track {
					-webkit-box-shadow: none;
					background-color: transparent;
				}

				.prism-leaf {
					display: block; position: relative; float: left;
					height: auto; margin: 5px;

					&.media {
						opacity: .4;
						background-position: center center;
						background-size: 100%;

						a {

							color: $black;
							text-shadow: 0 0 2px $white;

							&:hover {
								color: $white;
								background-color: transparent;
								border-color: $black;
								text-shadow: 0 0 2px $black;
							}

						}

						&:hover {
							opacity: .8;
							background-size: 105% !important;
							box-shadow: 0 0 5px $dark;

							transition: background-size .1s;
						}

						&.active {
							opacity: 1;
							box-shadow: 0 0 10px $highlight;

							a {
								color: $white;
								background: transparent;
								text-shadow: 0 0 5px $black;
							}
						}

					}

					a {
						display: block; position: absolute;
						left: 0; right: 0;
						top: 0; bottom: 0;
						padding: 10px;

						font-size: 16px;
						font-weight: bold;
						line-height: 20px;

						background: none;

						cursor: pointer;

						color: $grey;

						text-decoration: none;

						border: $border;
						border-color: $grey;

						&:hover {
							color: $black;
							background-color: $light;
							border-color: $black;
						}

					}

					&.active {

						box-shadow: 0 0 10px $highlight;

						a {
							color: $black;
							background: $highlight;
							border-color: $black;
						}
					}

				}

			}
		}

		#prism-leaf {
			display: block; position: relative; float: left;
			width: 50%; height: 100%;

			&.metapanel-open {

				div#prism-leaf-meta-controls {
					width: $metapanel-width;
					border-left: $border;
					border-bottom: $border;
					background: $light;

					i.fa.metapanel-control {
						color: $black !important;
					}

					i.fa-lock,
					i.fa-unlock,
					i.fa-unlock-alt {
						display: block !important; position: absolute;
						right: 20px; top: 20px;

						cursor: pointer;

						border-color: transparent;

						color: $black;

					}

					i.fa-lock {
					}

					i.fa-unlock-alt {
						color: $grey;

						&:hover {
							color: $highlight;
						}
					}

					h3 {
						display: block !important;
						padding-left: 78px;
					}
				}

				#prism-leaf-content {
					width: calc( 100% - #{$metapanel-width} - 20px );
				}

				ul#prism-leaf-meta-panel {
					width: $metapanel-width;
				}

			}

			header#prism-leaf-header {

				height: $sub-header-height;
				padding: 10px;
				border-bottom: $border;

				h2 {
					display: inline; float: left;
					width: calc( 100% - #{$metapanel-width} );
					padding: 5px; margin: 0;

					div {
						width: 100%; min-height: 30px;
						margin-top: -2px;
						border: $border;
						border-color: transparent;
						white-space: nowrap;
					}

					input {
						width: calc( 100% + 10px );
						padding: 0 5px; margin: -5px 0 0 -5px;
						border: $border;
						border-color: $light;
					}
				}

				div#prism-leaf-meta-controls {
					display: block; position: absolute;
					min-width: 50px; height: $sub-header-height;
					right: 0; top: 0;
					color: $light;

					&:hover i.fa.metapanel-control {
						color: $highlight;
					}

					i.fa.metapanel-control {
						margin: 10px;
						cursor: pointer;
					}

					i.fa-lock,
					i.fa-unlock-alt {
						display: none;
					}

					h3 {
						display: none;
						margin-top: 17px;
						color: $black;
						text: {
							transform: uppercase;
						}
						font-weight: bold;
					}
				}

			}

			#prism-leaf-content {

				display: block; position: relative; float: left;
				width: calc( 100% - 20px ); height: calc( 100% - 20px - #{$sub-header-height} );
				padding: 10px; margin: 10px;
				border: $border;
				border-color: $light;

			}

			ul#prism-leaf-meta-panel {

				display: block; position: relative; float: left;
				height: calc( 100% - #{$sub-header-height} );
				padding: 10px;
				border-left: $border;
				background-color: $light;

				li {
					display: block; position: relative;
					width: 100%;
					margin-bottom: 10px;

					list-style: none;

					h4 {
						display: block;
						padding: 3px 5px; margin: 0;
						background: $grey;
						color: $white;
					}

					span {
						display: block;
						padding: 5px;
						border: 1px solid $grey;
						background: $white;

						code {
							display: block;
							padding: 4px; margin: 0;
							cursor: pointer;
						}

						input {
							width: 100%;
						}

					}
				}

			}
		}

	}

	#prism-footer {

	}

}