#prism-user-bar { display: none; }

#prism.user-bar {
	width: 100%;

	right: $bar-width;
	transition: right $bar-time;

	#prism-user-bar {
		display: block; position: absolute;
		width: $bar-width; height: 100vh;
		right: (-$bar-width); top: 0;
		padding: 5px 10px;

		border: 0;
		color: $light;
		background: $dark;

		a {
			display: block;
			width: 100%;
			padding: 5px;
			border-radius: 5px;
			font-size: 18px;
			background: $light;
			text-align: center;
		}
	}
}