body > *:not(#prism) {
  display: none; }

#prism {
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden; }
  #prism * {
    box-sizing: border-box; }
  #prism.rainbow * {
    background: #333333 !important; }
  #prism #prism-header {
    display: block;
    position: relative;
    width: 100%;
    height: 80px;
    border-bottom: 2px solid #000000; }
    #prism #prism-header h1 {
      display: inline-block;
      float: left;
      margin: 5px 10px 0;
      font-family: 'Kinescope';
      font-size: 60px; }
    #prism #prism-header #prism-rainbow-bar {
      display: inline-block;
      float: left;
      width: 40%;
      padding: 5px 10px;
      margin: 12px 20px 0;
      font-size: 32px;
      border: 0;
      color: #dddddd; }
      #prism #prism-header #prism-rainbow-bar:focus {
        color: #333333;
        background: #ffffff !important; }
    #prism #prism-header span.description {
      display: block;
      position: relative;
      float: right;
      max-width: 420px;
      padding: 16px 20px;
      color: #808080;
      font-family: 'Gibson', sans-serif;
      font-size: 14px;
      font-style: italic;
      text-align: right; }
    #prism #prism-header #prism-user-account {
      float: right;
      margin: 16px 20px 0 0;
      cursor: pointer; }
      #prism #prism-header #prism-user-account i.fa-user {
        border-radius: 50%;
        border-color: #808080;
        color: #808080; }
        #prism #prism-header #prism-user-account i.fa-user:hover {
          color: #87CEFA;
          border-color: #87CEFA; }
      #prism #prism-header #prism-user-account img {
        margin-top: -2px;
        border-radius: 50%; }
  #prism #prism-tree {
    display: block;
    position: relative;
    width: 100%;
    height: calc( 100vh - 80px ); }
    #prism #prism-tree #prism-trunk {
      display: block;
      position: relative;
      float: left;
      width: 16.666667%;
      height: 100%;
      border-right: 2px solid #000000; }
      #prism #prism-tree #prism-trunk #prism-search {
        display: block;
        position: relative;
        width: 100%;
        height: 65px;
        padding: 10px;
        border-bottom: 2px solid #000000;
        font-size: 24px; }
        #prism #prism-tree #prism-trunk #prism-search input {
          width: 100%;
          padding: 2px 10px;
          border: 2px solid #000000;
          border-color: #808080;
          background: transparent; }
      #prism #prism-tree #prism-trunk menu {
        padding: 0;
        margin: 0; }
        #prism #prism-tree #prism-trunk menu ul {
          padding: 0;
          margin: 0; }
          #prism #prism-tree #prism-trunk menu ul li {
            list-style: none; }
            #prism #prism-tree #prism-trunk menu ul li:first-of-type a {
              border-top: none; }
            #prism #prism-tree #prism-trunk menu ul li a {
              display: block;
              padding: 20px;
              color: #808080;
              font-size: 24px;
              font-family: 'Source Code Pro', sans-serif;
              text-decoration: none;
              cursor: pointer;
              border-top: 2px solid #000000;
              border-bottom: 2px solid #000000;
              border-color: transparent; }
              #prism #prism-tree #prism-trunk menu ul li a:hover {
                background: #dddddd; }
              #prism #prism-tree #prism-trunk menu ul li a.active {
                font-weight: bold;
                background: #87CEFA;
                color: #000000;
                border-color: #000000; }
    #prism #prism-tree #prism-branch {
      display: block;
      position: relative;
      float: left;
      width: 33.333333%;
      height: 100%;
      border-right: 2px solid #000000; }
      #prism #prism-tree #prism-branch header#prism-branch-header {
        height: 65px;
        padding: 10px;
        border-bottom: 2px solid #000000; }
        #prism #prism-tree #prism-branch header#prism-branch-header h2 {
          padding: 5px;
          margin: 0;
          text-transform: capitalize; }
        #prism #prism-tree #prism-branch header#prism-branch-header div#prism-branch-visual-controls {
          display: block;
          position: absolute;
          right: 0;
          top: 0; }
          #prism #prism-tree #prism-branch header#prism-branch-header div#prism-branch-visual-controls i.fa {
            margin: 10px 10px 0 0;
            color: #dddddd;
            cursor: pointer;
            border-color: #dddddd; }
            #prism #prism-tree #prism-branch header#prism-branch-header div#prism-branch-visual-controls i.fa:hover {
              color: #87CEFA;
              border-color: #87CEFA; }
            #prism #prism-tree #prism-branch header#prism-branch-header div#prism-branch-visual-controls i.fa.active {
              color: #808080;
              border-color: #808080;
              background-color: #dddddd; }
          #prism #prism-tree #prism-branch header#prism-branch-header div#prism-branch-visual-controls i#prism-add-leaf {
            margin-right: 25px; }
            #prism #prism-tree #prism-branch header#prism-branch-header div#prism-branch-visual-controls i#prism-add-leaf:hover {
              color: #808080;
              border-color: #808080;
              background: #87fab3; }
      #prism #prism-tree #prism-branch.list .prism-leaf {
        width: calc( 100% - 10px ) !important;
        padding-bottom: 70px !important; }
      #prism #prism-tree #prism-branch ul#prism-leaves {
        height: 100%;
        padding: 5px;
        margin: 0 1px 0 0;
        overflow-y: scroll; }
        #prism #prism-tree #prism-branch ul#prism-leaves::-webkit-scrollbar-track {
          -webkit-box-shadow: none;
          background-color: transparent; }
        #prism #prism-tree #prism-branch ul#prism-leaves .prism-leaf {
          display: block;
          position: relative;
          float: left;
          width: calc( 25% - 10px );
          height: auto;
          padding-bottom: calc( 25% - 10px );
          margin: 5px; }
          #prism #prism-tree #prism-branch ul#prism-leaves .prism-leaf span {
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            padding: 10px;
            font-size: 16px;
            font-weight: bold;
            line-height: 20px;
            background: none;
            cursor: pointer;
            border: 2px solid #000000;
            border-color: #dddddd; }
            #prism #prism-tree #prism-branch ul#prism-leaves .prism-leaf span:hover {
              color: #000000;
              background-color: #dddddd;
              border-color: #000000; }
          #prism #prism-tree #prism-branch ul#prism-leaves .prism-leaf.active span {
            color: #000000;
            background: #87CEFA;
            border-color: #000000; }
    #prism #prism-tree #prism-leaf {
      display: block;
      position: relative;
      float: left;
      width: 50%;
      height: 100%; }
      #prism #prism-tree #prism-leaf.metapanel-open div#prism-leaf-meta-controls {
        width: 300px;
        border-left: 2px solid #000000;
        border-bottom: 2px solid #000000;
        background: #dddddd; }
        #prism #prism-tree #prism-leaf.metapanel-open div#prism-leaf-meta-controls i.fa.metapanel-control {
          color: #000000 !important; }
        #prism #prism-tree #prism-leaf.metapanel-open div#prism-leaf-meta-controls i.fa-lock,
        #prism #prism-tree #prism-leaf.metapanel-open div#prism-leaf-meta-controls i.fa-unlock,
        #prism #prism-tree #prism-leaf.metapanel-open div#prism-leaf-meta-controls i.fa-unlock-alt {
          display: block !important;
          position: absolute;
          right: 20px;
          top: 20px;
          cursor: pointer;
          border-color: transparent;
          color: #000000; }
        #prism #prism-tree #prism-leaf.metapanel-open div#prism-leaf-meta-controls i.fa-unlock-alt {
          color: #808080; }
          #prism #prism-tree #prism-leaf.metapanel-open div#prism-leaf-meta-controls i.fa-unlock-alt:hover {
            color: #87CEFA; }
        #prism #prism-tree #prism-leaf.metapanel-open div#prism-leaf-meta-controls h3 {
          display: block !important;
          padding-left: 78px; }
      #prism #prism-tree #prism-leaf.metapanel-open #prism-leaf-content {
        width: calc( 100% - 300px - 20px ); }
      #prism #prism-tree #prism-leaf.metapanel-open ul#prism-leaf-meta-panel {
        width: 300px; }
      #prism #prism-tree #prism-leaf header#prism-leaf-header {
        height: 65px;
        padding: 10px;
        border-bottom: 2px solid #000000; }
        #prism #prism-tree #prism-leaf header#prism-leaf-header h2 {
          display: inline;
          float: left;
          width: calc( 100% - 300px );
          padding: 5px;
          margin: 0; }
          #prism #prism-tree #prism-leaf header#prism-leaf-header h2 div {
            width: 100%;
            min-height: 30px;
            margin-top: -2px;
            border: 2px solid #000000;
            border-color: transparent; }
          #prism #prism-tree #prism-leaf header#prism-leaf-header h2 input {
            width: calc( 100% + 10px );
            padding: 0 5px;
            margin: -5px 0 0 -5px;
            border: 2px solid #000000;
            border-color: #dddddd; }
        #prism #prism-tree #prism-leaf header#prism-leaf-header div#prism-leaf-meta-controls {
          display: block;
          position: absolute;
          min-width: 50px;
          height: 65px;
          right: 0;
          top: 0;
          color: #dddddd; }
          #prism #prism-tree #prism-leaf header#prism-leaf-header div#prism-leaf-meta-controls:hover i.fa.metapanel-control {
            color: #87CEFA; }
          #prism #prism-tree #prism-leaf header#prism-leaf-header div#prism-leaf-meta-controls i.fa.metapanel-control {
            margin: 10px;
            cursor: pointer; }
          #prism #prism-tree #prism-leaf header#prism-leaf-header div#prism-leaf-meta-controls i.fa-lock,
          #prism #prism-tree #prism-leaf header#prism-leaf-header div#prism-leaf-meta-controls i.fa-unlock-alt {
            display: none; }
          #prism #prism-tree #prism-leaf header#prism-leaf-header div#prism-leaf-meta-controls h3 {
            display: none;
            margin-top: 17px;
            color: #000000;
            text-transform: uppercase;
            font-weight: bold; }
      #prism #prism-tree #prism-leaf #prism-leaf-content {
        display: block;
        position: relative;
        float: left;
        width: calc( 100% - 20px );
        height: calc( 100% - 20px - 65px );
        padding: 10px;
        margin: 10px;
        border: 2px solid #000000;
        border-color: #dddddd; }
      #prism #prism-tree #prism-leaf ul#prism-leaf-meta-panel {
        display: block;
        position: relative;
        float: left;
        height: calc( 100% - 65px );
        padding: 10px;
        border-left: 2px solid #000000;
        background-color: #dddddd; }
        #prism #prism-tree #prism-leaf ul#prism-leaf-meta-panel li {
          display: block;
          position: relative;
          width: 100%;
          margin-bottom: 10px;
          list-style: none; }
          #prism #prism-tree #prism-leaf ul#prism-leaf-meta-panel li h4 {
            display: block;
            padding: 3px 5px;
            margin: 0;
            background: #808080;
            color: #ffffff; }
          #prism #prism-tree #prism-leaf ul#prism-leaf-meta-panel li span {
            display: block;
            padding: 5px;
            border: 1px solid #808080;
            background: #ffffff; }
            #prism #prism-tree #prism-leaf ul#prism-leaf-meta-panel li span code {
              display: block;
              padding: 4px;
              margin: 0;
              cursor: pointer; }
            #prism #prism-tree #prism-leaf ul#prism-leaf-meta-panel li span input {
              width: 100%; }
