body {
  overflow-y: hidden; }

body > *:not(#prism) {
  display: none; }

#prism {
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;
  left: 0;
  transition: left 0.2s; }
  #prism * {
    box-sizing: border-box; }

.prism-resize-bar {
  display: block;
  position: absolute;
  width: 4px;
  height: 100%;
  right: -3px;
  top: 0;
  bottom: 0;
  background: transparent;
  cursor: col-resize;
  z-index: 100; }
  .prism-resize-bar:hover {
    background-color: #1ab7d9;
    opacity: .75; }

#prism.status-bar {
  left: 20%;
  transition: left 0.2s; }

#prism-status-bar {
  display: block;
  position: absolute;
  width: 20%;
  height: 100vh;
  left: -20%;
  top: 0;
  padding: 5px 10px;
  border: 0;
  color: #dddddd;
  background: #ff1d3b; }
  #prism-status-bar h3 {
    color: #ffffff; }
  #prism-status-bar ul#prism-status-log {
    padding: 0; }
    #prism-status-bar ul#prism-status-log li {
      padding: 5px 0;
      color: #ffffff;
      font-size: 18px; }
      #prism-status-bar ul#prism-status-log li i.fa-li {
        top: 0.5em !important; }

#prism-status {
  display: inline-block;
  position: relative;
  height: 50px;
  padding: 0 6px; }
  #prism-status.hide-status #prism-status-button i {
    transition: color 0.2s; }
  #prism-status.hide-status #prism-status-message {
    opacity: 0;
    transition: opacity 0.2s; }
  #prism-status #prism-status-button {
    display: block;
    position: relative;
    float: left;
    width: 30px;
    height: 30px;
    margin-top: 3px;
    transform-origin: 50% 70%;
    transform: rotate(-60deg) scale(0.5);
    transition: transform 0.2s;
    cursor: pointer; }
    #prism-status #prism-status-button i.fa-play {
      display: block;
      position: absolute;
      font-size: 18px;
      transform-origin: 40% 50%;
      cursor: pointer;
      color: #808080;
      border-left: 2px solid transparent; }
      #prism-status #prism-status-button i.fa-play:nth-of-type(1) {
        transform: rotate(0deg);
        left: 0px;
        bottom: 0px; }
      #prism-status #prism-status-button i.fa-play:nth-of-type(2) {
        transform: rotate(60deg);
        left: 5px;
        bottom: 8px; }
      #prism-status #prism-status-button i.fa-play:nth-of-type(3) {
        transform: rotate(120deg);
        left: 14px;
        bottom: 8px; }
      #prism-status #prism-status-button i.fa-play:nth-of-type(4) {
        transform: rotate(180deg);
        left: 18px;
        bottom: 0px; }
      #prism-status #prism-status-button i.fa-play:nth-of-type(5) {
        transform: rotate(-120deg);
        left: 14px;
        bottom: -8px; }
      #prism-status #prism-status-button i.fa-play:nth-of-type(6) {
        transform: rotate(-60deg);
        left: 5px;
        bottom: -8px; }
    #prism-status #prism-status-button.loading {
      animation: rotation 2s infinite linear; }
      #prism-status #prism-status-button.loading i.fa-play {
        color: #1ab7d9; }
    #prism-status #prism-status-button.saving {
      animation: rotation 2s infinite linear; }
      #prism-status #prism-status-button.saving i.fa-play {
        color: #6b7ee4; }
    #prism-status #prism-status-button.success i.fa-play {
      color: #66d73a !important; }
    #prism-status #prism-status-button.warning i.fa-play {
      color: #FF6600 !important; }
    #prism-status #prism-status-button.error i.fa-play {
      color: #ff1d3b !important; }
    #prism-status #prism-status-button:hover, #prism-status #prism-status-button.active {
      transform: rotate(0deg) scale(1);
      transition: transform .2s; }
      #prism-status #prism-status-button:hover i.fa-play, #prism-status #prism-status-button.active i.fa-play {
        border-left: 2px solid transparent;
        transition: transform .2s; }
        #prism-status #prism-status-button:hover i.fa-play:nth-of-type(1), #prism-status #prism-status-button.active i.fa-play:nth-of-type(1) {
          transform: rotate(0deg);
          color: #ff1d3b; }
        #prism-status #prism-status-button:hover i.fa-play:nth-of-type(2), #prism-status #prism-status-button.active i.fa-play:nth-of-type(2) {
          transform: rotate(60deg);
          color: #FF6600; }
        #prism-status #prism-status-button:hover i.fa-play:nth-of-type(3), #prism-status #prism-status-button.active i.fa-play:nth-of-type(3) {
          transform: rotate(120deg);
          color: #fece00; }
        #prism-status #prism-status-button:hover i.fa-play:nth-of-type(4), #prism-status #prism-status-button.active i.fa-play:nth-of-type(4) {
          transform: rotate(180deg);
          color: #66d73a; }
        #prism-status #prism-status-button:hover i.fa-play:nth-of-type(5), #prism-status #prism-status-button.active i.fa-play:nth-of-type(5) {
          transform: rotate(-120deg);
          color: #1ab7d9; }
        #prism-status #prism-status-button:hover i.fa-play:nth-of-type(6), #prism-status #prism-status-button.active i.fa-play:nth-of-type(6) {
          transform: rotate(-60deg);
          color: #6b7ee4; }
  #prism-status #prism-status-message {
    display: block;
    position: relative;
    float: left;
    height: 50px;
    padding: 0 4px;
    font-size: 18px;
    font-weight: bold;
    line-height: calc( 50px - 3px ); }
    #prism-status #prism-status-message:hover {
      opacity: 1 !important; }

@keyframes rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }
#prism-user-bar {
  display: none; }

#prism.user-bar {
  width: 100%;
  right: 20%;
  transition: right 0.2s; }
  #prism.user-bar #prism-user-bar {
    display: block;
    position: absolute;
    width: 20%;
    height: 100vh;
    right: -20%;
    top: 0;
    padding: 5px 10px;
    border: 0;
    color: #dddddd;
    background: #333333; }
    #prism.user-bar #prism-user-bar a {
      display: block;
      width: 100%;
      padding: 5px;
      border-radius: 5px;
      font-size: 18px;
      background: #dddddd;
      text-align: center; }

#prism-header {
  display: block;
  position: relative;
  width: 100%;
  height: 50px;
  overflow: hidden;
  border-bottom: 2px solid #000000; }
  #prism-header #prism-user-account {
    float: right;
    margin: 10px;
    cursor: pointer; }
    #prism-header #prism-user-account i.fa-user {
      border-radius: 50%;
      border-color: #808080;
      color: #808080; }
      #prism-header #prism-user-account i.fa-user:hover {
        color: #1ab7d9;
        border-color: #1ab7d9; }
    #prism-header #prism-user-account img {
      height: calc( 50px - 20px );
      width: calc( 50px - 20px );
      margin-top: -2px;
      border-radius: 50%; }

#prism-tree {
  display: block;
  position: relative;
  width: 100%;
  height: calc( 100vh - 50px ); }

.prism-tree-header {
  display: block;
  position: relative;
  width: 100%;
  height: 45px;
  padding: 8px 10px;
  border-bottom: 2px solid #000000; }
  .prism-tree-header h2 {
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    font-size: 28px;
    line-height: 1; }

#prism-trunk {
  display: block;
  position: relative;
  float: left;
  height: 100%;
  border-right: 2px solid #000000;
  background: #dddddd; }
  #prism-trunk #prism-search {
    padding: 5px;
    font-size: 18px;
    overflow: hidden; }
    #prism-trunk #prism-search.active {
      background: #1ab7d9;
      color: #000000;
      border-color: #000000; }
    #prism-trunk #prism-search input {
      display: inline-block;
      width: calc( 100% );
      padding: 2px 10px;
      border: 2px solid #000000;
      border-color: #808080;
      background: #ffffff; }
      #prism-trunk #prism-search input:focus {
        background: #ffffff !important;
        outline: none !important; }
  #prism-trunk menu {
    padding: 0;
    margin: 0; }
    #prism-trunk menu ul {
      padding: 0;
      margin: 0; }
      #prism-trunk menu ul li {
        list-style: none; }
        #prism-trunk menu ul li:first-of-type a {
          border-top: none; }
        #prism-trunk menu ul li a {
          display: block;
          padding: 6px 3px;
          color: #808080;
          font-size: 16px;
          text-decoration: none;
          cursor: pointer;
          border-top: 2px solid #000000;
          border-bottom: 2px solid #000000;
          border-color: transparent; }
          #prism-trunk menu ul li a i {
            margin: 0 8px; }
          #prism-trunk menu ul li a:hover {
            background: #808080;
            color: #ffffff; }
          #prism-trunk menu ul li a.active {
            font-weight: bold;
            background: #1ab7d9;
            color: #000000;
            border-color: #000000; }
          #prism-trunk menu ul li a.parent:nth-of-type(1) {
            padding-bottom: 0;
            border-bottom: none; }
          #prism-trunk menu ul li a.parent:nth-of-type(2) {
            padding: 3px  0 3px 40px;
            border-top: none;
            font-style: italic;
            font-size: 13px; }
            #prism-trunk menu ul li a.parent:nth-of-type(2):hover {
              background: #333333;
              color: #1ab7d9; }

#prism-branch {
  display: block;
  position: relative;
  float: left;
  height: 100%;
  border-right: 2px solid #000000; }
  #prism-branch header#prism-branch-header div#prism-branch-visual-controls {
    display: block;
    position: absolute;
    right: 0;
    top: 0; }
    #prism-branch header#prism-branch-header div#prism-branch-visual-controls i.fa {
      margin: 8px 8px 0 0;
      color: #dddddd;
      cursor: pointer; }
      #prism-branch header#prism-branch-header div#prism-branch-visual-controls i.fa:hover {
        color: #1ab7d9;
        border-color: #1ab7d9; }
      #prism-branch header#prism-branch-header div#prism-branch-visual-controls i.fa.active {
        color: #333333;
        border-color: #333333; }
    #prism-branch header#prism-branch-header div#prism-branch-visual-controls i#prism-add-leaf {
      margin-right: 25px; }
      #prism-branch header#prism-branch-header div#prism-branch-visual-controls i#prism-add-leaf:hover {
        color: #66d73a; }
  #prism-branch.grid ul#prism-leaves .prism-leaf {
    width: calc( 33% - 10px );
    padding-bottom: calc( 33% - 14px ); }
  #prism-branch.half ul#prism-leaves .prism-leaf {
    width: calc( 50% - 10px );
    padding-bottom: calc( 50% - 14px ); }
  #prism-branch.full ul#prism-leaves .prism-leaf {
    width: calc( 100% - 10px );
    padding-bottom: calc( 100% - 14px ); }
  #prism-branch.list ul#prism-leaves .prism-leaf {
    width: calc( 100% - 10px ) !important;
    padding-bottom: 100px !important; }
    #prism-branch.list ul#prism-leaves .prism-leaf a {
      left: 100px;
      font-size: 16px;
      font-weight: bold;
      line-height: 20px;
      color: #808080; }
      #prism-branch.list ul#prism-leaves .prism-leaf a h4 {
        background: none !important; }
    #prism-branch.list ul#prism-leaves .prism-leaf b.media {
      width: 100px;
      height: 100px;
      right: auto;
      background-position: right center !important;
      background-size: 100px !important;
      background-repeat: no-repeat;
      background-color: rgba(221, 221, 221, 0.5); }
    #prism-branch.list ul#prism-leaves .prism-leaf:hover {
      background-color: #dddddd !important; }
    #prism-branch.list ul#prism-leaves .prism-leaf.active {
      background-color: #1ab7d9 !important; }
  #prism-branch ul#prism-leaves {
    height: calc( 100% - 45px );
    padding: 5px;
    margin: 0 1px 0 0;
    overflow-y: scroll; }
    #prism-branch ul#prism-leaves::-webkit-scrollbar-track {
      -webkit-box-shadow: none;
      background-color: transparent; }
    #prism-branch ul#prism-leaves .prism-leaf {
      display: block;
      position: relative;
      float: left;
      height: auto;
      margin: 5px;
      border: 2px solid #000000;
      border-color: #808080; }
      #prism-branch ul#prism-leaves .prism-leaf a, #prism-branch ul#prism-leaves .prism-leaf b {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0; }
      #prism-branch ul#prism-leaves .prism-leaf a {
        z-index: 2;
        padding: 3px;
        font-size: 16px;
        font-weight: bold;
        line-height: 20px;
        color: #808080;
        text-decoration: none;
        background-color: rgba(255, 255, 255, 0.7);
        overflow: hidden; }
        #prism-branch ul#prism-leaves .prism-leaf a h4 {
          padding: 5px;
          margin: 0;
          font-size: 16px;
          line-height: 20px;
          background-color: rgba(255, 255, 255, 0.5); }
          #prism-branch ul#prism-leaves .prism-leaf a h4:empty {
            display: none !important; }
        #prism-branch ul#prism-leaves .prism-leaf a p {
          padding: 5px;
          margin: 0;
          font-size: 12px;
          line-height: 15px;
          color: #808080; }
      #prism-branch ul#prism-leaves .prism-leaf b.media {
        z-index: 1;
        margin: 0;
        background-position: center center;
        background-size: 100%; }
      #prism-branch ul#prism-leaves .prism-leaf:not(.media) h4 {
        background: none !important; }
      #prism-branch ul#prism-leaves .prism-leaf:hover {
        box-shadow: 0 0 10px #808080;
        border-color: #000000; }
        #prism-branch ul#prism-leaves .prism-leaf:hover a {
          color: #333333;
          background-color: rgba(128, 128, 128, 0.3); }
          #prism-branch ul#prism-leaves .prism-leaf:hover a h4 {
            background-color: rgba(255, 255, 255, 0.7); }
        #prism-branch ul#prism-leaves .prism-leaf:hover b.media {
          background-size: 105% !important;
          transition: background-size .1s; }
      #prism-branch ul#prism-leaves .prism-leaf.active {
        background-color: #1ab7d9;
        box-shadow: 0 0 10px #1ab7d9;
        border-color: #000000; }
        #prism-branch ul#prism-leaves .prism-leaf.active.new {
          background-color: #66d73a;
          box-shadow: 0 0 10px #66d73a;
          border-color: #000000; }
        #prism-branch ul#prism-leaves .prism-leaf.active a {
          color: #000000;
          background-color: rgba(255, 255, 255, 0.1); }
          #prism-branch ul#prism-leaves .prism-leaf.active a h4 {
            background-color: rgba(255, 255, 255, 0.9); }
          #prism-branch ul#prism-leaves .prism-leaf.active a p {
            color: #000000; }
        #prism-branch ul#prism-leaves .prism-leaf.active b.media {
          background-size: 105% !important; }

#prism-leaf {
  display: block;
  position: relative;
  float: left;
  height: 100%;
  border-right: 2px solid #000000; }
  #prism-leaf header#prism-leaf-header h2 {
    display: block;
    width: 100%;
    padding: 0; }
    #prism-leaf header#prism-leaf-header h2 div {
      width: 100%;
      min-height: 30px;
      margin-top: 0;
      border: none;
      white-space: nowrap;
      overflow: hidden; }
    #prism-leaf header#prism-leaf-header h2 input {
      width: 100%;
      padding: 0 5px;
      margin: -5px 0 0 -5px;
      border: none; }
      #prism-leaf header#prism-leaf-header h2 input:focus {
        border: none;
        outline: none; }
  #prism-leaf header#prism-leaf-header i.fa {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 7px;
    background: #ffffff;
    cursor: pointer;
    color: #dddddd; }
    #prism-leaf header#prism-leaf-header i.fa:hover {
      color: #1ab7d9; }
    #prism-leaf header#prism-leaf-header i.fa.active {
      color: #000000; }
  #prism-leaf #prism-leaf-content {
    display: block;
    position: relative;
    float: left;
    width: calc( 100% - 20px );
    height: calc( 100% - 20px - 45px );
    padding: 10px;
    margin: 10px;
    border: 2px solid #000000;
    border-color: #dddddd; }

#prism-meta {
  display: block;
  position: relative;
  float: left;
  height: 100%;
  background-color: #dddddd; }
  #prism-meta header#prism-meta-header h2 {
    color: #808080; }
  #prism-meta header#prism-meta-header i.fa {
    display: block;
    position: absolute;
    right: 10px;
    top: 8px;
    cursor: pointer;
    color: #808080;
    border: none; }
    #prism-meta header#prism-meta-header i.fa:hover {
      color: #1ab7d9; }
    #prism-meta header#prism-meta-header i.fa.fa-lock {
      color: #000000; }
  #prism-meta ul#prism-meta-info {
    padding: 10px;
    margin: 0; }
    #prism-meta ul#prism-meta-info li {
      display: block;
      position: relative;
      width: 100%;
      margin-bottom: 10px;
      list-style: none; }
      #prism-meta ul#prism-meta-info li h4 {
        display: block;
        padding: 3px 5px;
        margin: 0;
        background: #808080;
        color: #ffffff; }
        #prism-meta ul#prism-meta-info li h4 a {
          color: #ffffff; }
      #prism-meta ul#prism-meta-info li span {
        display: block;
        padding: 5px;
        border: 1px solid #808080;
        background: #ffffff; }
        #prism-meta ul#prism-meta-info li span code {
          display: block;
          padding: 4px;
          margin: 0;
          cursor: pointer; }
        #prism-meta ul#prism-meta-info li span input {
          width: 100%; }
        #prism-meta ul#prism-meta-info li span a {
          display: inline-block;
          position: relative;
          padding: 3px 5px;
          margin: 3px;
          border: 1px solid #333333;
          border-radius: 3px;
          background-color: #dddddd;
          text-decoration: none;
          color: #333333;
          cursor: pointer; }
          #prism-meta ul#prism-meta-info li span a:hover {
            color: #000000;
            border-color: #000000;
            background-color: #1ab7d9; }
