body > *:not(#prism) {
  display: none; }

#prism {
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: none; }
  #prism * {
    box-sizing: border-box; }
  #prism #prism-header {
    display: block;
    position: relative;
    width: 100%;
    height: 70px;
    border-bottom: 2px solid #000000; }
  #prism #prism-body {
    display: block;
    position: relative;
    width: 100%;
    height: calc( 100vh - 70px ); }
    #prism #prism-body #prism-trunk {
      display: block;
      position: relative;
      float: left;
      width: 16.666667%;
      height: 100%;
      border-right: 2px solid #000000; }
      #prism #prism-body #prism-trunk #prism-search {
        display: block;
        position: relative;
        width: 100%;
        height: 65px;
        padding: 10px;
        border-bottom: 2px solid #000000;
        font-size: 24px; }
        #prism #prism-body #prism-trunk #prism-search input {
          width: 100%;
          padding: 2px 10px;
          border: 2px solid #000000;
          border-color: #808080; }
      #prism #prism-body #prism-trunk menu {
        padding: 0;
        margin: 0; }
        #prism #prism-body #prism-trunk menu ul {
          padding: 0;
          margin: 0; }
          #prism #prism-body #prism-trunk menu ul li {
            list-style: none; }
            #prism #prism-body #prism-trunk menu ul li a {
              display: block;
              padding: 20px;
              color: #808080;
              font-size: 24px;
              font-family: 'Source Code Pro', sans-serif;
              text-decoration: none; }
              #prism #prism-body #prism-trunk menu ul li a:hover {
                background: #dddddd; }
    #prism #prism-body #prism-branch {
      display: block;
      position: relative;
      float: left;
      width: 33.333333%;
      height: 100%;
      border-right: 2px solid #000000; }
      #prism #prism-body #prism-branch header#prism-branch-header {
        height: 65px;
        padding: 10px;
        border-bottom: 2px solid #000000; }
        #prism #prism-body #prism-branch header#prism-branch-header h2 {
          padding: 5px;
          margin: 0; }
    #prism #prism-body #prism-leaf {
      display: block;
      position: relative;
      float: left;
      width: 50%;
      height: 100%; }
      #prism #prism-body #prism-leaf header#prism-leaf-header {
        height: 65px;
        padding: 10px;
        border-bottom: 2px solid #000000; }
        #prism #prism-body #prism-leaf header#prism-leaf-header h2 {
          padding: 5px;
          margin: 0; }
